.FormLabel {
    color: #a0a0a0;
    display: block;
    font-size: 16px;
    padding: 12px 0 6px;
  }
  
  .FormRow {
    text-align: left;
  }
  
  .FormRow input,
  .FormRow textarea {
    width: 100%;
  }